
    header{
      padding: 20px;
      background-color: rgb(211, 251, 210);
      font-family: "Pacifico", cursive;
      font-size:20px;
    }
    #resume{
      color: rgb(255, 0, 38);
      font-weight: bolder;
      margin-left: 10px;
    }
    .header-info{
        color: indigo;
      margin-right: 40px;
      margin-left: 10px;
    }
    .nav{
      background-color: rgb(197, 233, 162);
      padding: 20px;
      font-style: italic;
      font-family: "Madimi One", sans-serif;
    }
    #nav{
      padding:10px; }
    h2{
       background-color: cadetblue;
      font-style: italic;
    }
    #ABC{
      padding:15px;
      background-color: rgb(241, 203, 241);
      font-family: "Madimi One", sans-serif;
    }
    thead{
        background-color: rgb(254, 249, 156);
    }
    tbody{
        background-color: rgb(247, 200, 170);
    }
    /* #table-head{
        padding: 10px 30px;
    /} */
    /* #table-row{
        padding: 10px 30px; 
        font-family: "Pacifico", cursive;
    }  */
    table, tr,th,td{
      border: 10px solid rgb(15, 15, 14);
      /* border-collapse: collapse; */
      font-family: "Madimi One", sans-serif;
    }
    td,th{
      padding: 10px;
      font-family: "Poppins", sans-serif;
    }
    .Percentage{
      background-color: brown;
    } 
    #roles{
      margin-left:50px;
      background-color: rgb(165, 172, 249);
      font-size: 20px;
      font-family:"Madimi One", sans-serif;
    }
    #Duration{
      margin-left: 30px;
    }
    #team{
      background-color: rgb(251, 170, 251);
    }
    #team{
      font-size:20px;
      background-color: rgb(194, 248, 248);
      font-family:"Madimi One", sans-serif;
    }
    .copy{
      font-style: oblique ;
      background-color: palegreen;
    }
    #footer{
      padding-right:50px;
    }
    #Summerylist li{
      list-style-type: circle;
    }
    #Summerylist li::marker{
      content: "✍";
    }
    #roles{
      list-style-type: lower-alpha;
    }
    #roles li{
      padding-top: 1rem;
    }
    #projectDesc::selection{
      background-color: rgb(251, 155, 120);
    }